.banner-yellow,
.banner-red
  font-size: 0.8 rem
  max-width: 800px
  border-radius: 5px
  padding-left: 15px
  margin-bottom: 10px

.banner-yellow
  color: $grey
  background-color: $lightYellow

.banner-red
  background-color: $lightRed

p.banner-yellow > a
  color: $mediumYellow