$black      = #111
$darkGrey   = #717171
$grey       = #9B9B9B
$lightGreen = #D9ECDB
$lightRed = #F3D8DA
$lightYellow = #FDF3D1
$mediumGreen   = #4C714C
$mediumYellow = #806520
$primary    = #9013FE
$white      = #fff