@import './_colors'

.footer,
.push
  height: 125px

.footer
  background-color: rgba(155, 155, 155, .25)
  text-align: center

  p.footer-email
    color: $darkGrey
    padding-top: 2rem

    a:link
      color: $grey
      text-decoration: none
    
    a:hover
      color: $darkGrey
      text-decoration: underline
