@import '../_main'
@import '../partials/_social-icons'
@import '../partials/_banners'


.splash-container
  margin: 0 auto
  padding-top: 100px
  max-width: 800px
  width: 100%

  @media screen and (min-width: $medium)
    padding-left: 50px

.splash

  h1
    font-size: 3em
    line-height: 1
    letter-spacing: -0.03em
    margin: 0

.handle
  display: inline-block
  margin-top: 0.275em
  color: $grey
  letter-spacing: 0.5px


/* overrides */

main
  padding-top: 0
  padding-bottom: 0
  height: 100%

.social-icons
  justify-content: flex-start
  padding-top: 2rem
