@import '../_main'
@import '../partials/_articles-list'
@import '../partials/_footer'
@import '../partials/_logo'


.tags__list
  list-style: none
  padding: 0;
  margin: 0;
  padding-left: 50px
  flex-shrink: 0

  @media screen and (max-width: $medium - 1)
    display: none

.post__header .tags__list
  display: none
  padding-left: 0

  @media screen and (max-width: $medium - 1)
    display: block

  .tag__item
    display: inline-block
    margin-right: 10px

    &:last-child
      margin-right: 0

  .tag__link
    font-size: 0.8rem
    
.tag__link
  text-decoration: none 
  color: $grey
  font-size: 0.9rem

  &::before
    content: '#'
    font-size: 0.7rem
    padding-right: 1px

  &:hover
    color: $darkGrey

/* page overrides */
.wrapper 
  margin: 0 auto
  max-width: 1200px
  width: 100%

  @media screen and (min-width: $medium)
    padding-left: 50px

.row
  display: flex
  flex-direction: row
  flex-wrap: wrap
  width: 100%

.column
  display: flex;
  flex-direction: column;
  flex: 1;

.posts-list-column
  flex-basis: auto

.tags-list-column
  margin-top: 60px
  flex-basis: auto