{{ define "main" }}
<div class="splash-container">
    <div class="splash">
        <img src="/img/logo.png" alt="NewtonWatch logo" class="logo-medium">
        <p class="banner-yellow">Check out <i>NewtonWatch</i>'s <a href="/editorial-guidelines">Editorial Guidelines</a>.</p>
        <p class="banner-green">View our <a href="/10-demands">10 Immediate Demands</a>.</p>
        <p><i>NewtonWatch</i> is restoring citizen journalism to the city of Newton!</p>
        <p>We intend to serve two urgent needs for our neighbors in Newton: providing critical information with a clear bias, and building power and solidarity along class lines. More specifically, we want to:</p>
        <ul>
            <li>spread ideas that protect workers, civil rights, and the environment, and</li>
            <li>help citizens gain leverage to extract meaningful and structural change from government.</li>
        </ul>
        <p><b>Our most important goal is to develop and enforce a class identity among residents and workers.</b> In doing so, we will deemphasize electoral politics as the standard outlet for civic action and replace it with building power among citizens (particularly as workers) in order to apply pressure strategically to all incumbent elected officials, regardless of party.</p>
        <p>Our bias is transparent and deliberate, and we do not pretend to be neutral. No publisher is neutral, and <i>NewtonWatch</i> follows certain <a href="/editorial-guidelines"><b>Editorial Guidelines</b></a>. In addition, there are <a href="/10-demands"><b>10 Immediate Demands</b></a> we believe can unite citizens and spark targeted action.</p>
        <p>—The Team</p>
        <a href="https://twitter.com/newtonwatch" target="_blank"><img class="social-icon social-icon-about" src="/icons/twitter.svg" alt=""></a>
        <p class="banner-red"><b>Privacy:</b> <i>NewtonWatch</i> has no embedded web trackers and we do not monitor who visits the domain.</p>
        <div class="push"></div>
    </div>
</div>
{{ end }}

{{ define "footer" }}
{{ partial "footer.html" . }}
{{ end }}