<h1>News Clips</h1>

{{ define "main" }} 

<a href="/"><img src="/img/logo.png" alt="NewtonWatch logo" class="logo"></a>
<div class="wrapper">
    <div class="row">
        <div class="column posts-list-column">
            <ul class="post-list">
                {{ range .Pages }}
                    <li class="post">
                        <div class="post__header">
                            <time class="post__date" datetime="{{ .Date }}">{{ .Date.Format "Jan 2 2006" }}</time>
                            <h2 class="post__title">
                                <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                            </h2>
                        </div>
                    </li>
                {{ end }}
            </ul>
        </div>
    </div>
</div>

{{ end }}