{{ define "main" }} 
<a href="/"><img src="/img/logo.png" alt="NewtonWatch logo" class="logo-small"></a>
<div class="wrapper">
    <div class="row">
        <div class="column">
            <h1>News Clips</h1>
            <p class="banner-yellow">Check out <i>NewtonWatch</i>'s <a href="/editorial-guidelines">Editorial Guidelines</a>.</p>
            <ul class="post-list">
                {{ range .Pages }}
                    <li class="post">
                        <div class="post__header">
                            <time class="post__date" datetime="{{ .Date }}">{{ .Date.Format "Jan 2 2006" }}</time>
                            <h2 class="post__title">
                                <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                            </h2>
                        </div>
                        <div class="news__headline">
                            {{ .Content }}
                        </div>
                    </li>
                {{ end }}
            </ul>
        </div>
    </div>
</div>

{{ end }}